.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.success {
  background-color: #e5f9f4;
  border-color: #21c7a1;
}

.info {
  background-color: #e5f4fa;
  border-color: #39a8da;
}

.danger {
  background-color: #fdedf0;
  border-color: #f35f77;
}

.warning {
  background-color: #fff7e8;
  border-color: #febb30;
}
